body {
  font-family: 'Public Sans', sans-serif !important;
  margin: 0 !important; /* Reset all margins */
  margin-top: 230px !important; /* Set top margin */
}


@media (max-width: 600px) {
  body {
    margin-top: 380px !important;
  }
}

.css-vm9lkw-MuiButtonBase-root-MuiButton-root {
  color: "#000"
}

.css-5iifl-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
}


/* Slick carousel styles */
.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-slide img {
  display: inline-block;
}

.slick-dots li button:before {
  color: #000; /* Change dot color */
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000;
}

.pin {
  transition: transform 0.3s ease;
}

.pin:hover {
  transform: scale(1.2);
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0462b6; /* Color of the scrollbar */
  border-radius: 10px; /* Round scrollbar corners */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
}

/* Custom Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #0462b6 #f0f0f0; /* Scrollbar color and track color */
}


.tawk-branding {
  display: none !important;
}


/* Add this to your CSS file */
.custom-slick-dots .slick-dots {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.custom-slick-dots .slick-dots li button:before {
  color: #FA8232; /* Customize dot color */
  font-size: 10px; /* Adjust dot size if needed */
}


/* Change slick dots color */
.custom-slick-dot {
  width: 10px;
  height: 10px;
  background-color: #FA8232 !important;
  border-radius: 50%;
}

/* Center align the dots */
.slick-dots {
  bottom: 10px;
}

/* Optional: make dots larger when active */
.slick-dots .slick-active div.custom-slick-dot {
  background-color: #FA8232;
  width: 12px;
  height: 12px;
}


